@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime

<div>
    <button style="border: none; text-decoration: underline; text-align: left; color: #1a1e21; background-color: transparent" @onclick="GetArticle">
        @((MarkupString) (Title ?? "Error getting title"))
        <span style="margin-left: 10px; color: darkgray; text-decoration: none; display: inline-block; font-size: 12px">
            <span class="oi oi-calendar" aria-hidden="true"></span> @ReadableTime
        </span>
    </button>
    @if (ShowSpinner)
    {
        <div>
            <Spinner/>
        </div>
    }
    @if (ShowText && !string.IsNullOrEmpty(Text))
    {
        <article style="padding: 10px; color: #4f5050">
            <section style="white-space: pre-wrap">@Text</section>
            <footer style="margin-top: 5px; text-transform: lowercase">
                <button class="btn btn-outline-secondary btn-sm" type="button" @onclick="NavigateToMeduza">
                    <span class="oi oi-link-intact" aria-hidden="true"></span>
                </button>
                <button class="btn btn-outline-secondary btn-sm" type="button" @onclick="CopyToClipboard">
                    <span class="oi oi-clipboard" aria-hidden="true"></span>
                </button>
                @if (ShowClipboardCopyText)
                {
                    <span style="margin-left: 10px; font-size: 12px">Ссылка скопирована...</span>
                }
            </footer>
        </article>
    }
</div>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public string? Url { get; set; }

    [Parameter]
    public DateTime Date { get; set; }

    [Parameter]
    public int Time { get; set; }

    [Parameter]
    public bool ShowText { get; set; }

    private string ReadableTime => new DateTime(1970, 1, 1, 3, 0, 0).AddSeconds(Time).ToString("HH:mm | dd/MM/yyyy");

    private string FullUrl => $"https://meduza.io/{Url}";

    private bool ShowSpinner { get; set; }

    private bool ShowClipboardCopyText { get; set; }

    private async Task GetArticle()
    {
        if (Url is not null && string.IsNullOrEmpty(Text))
        {
            ShowSpinner = true;

            var articleResponse = await _httpClient
                .GetStringAsync($"https://articles-river.herokuapp.com/Articles/{Url.Replace("/", "%2f")}");
            Text = articleResponse;

            ShowSpinner = false;
        }

        ShowText = !ShowText;
    }

    private async Task CopyToClipboard()
    {
        await _jsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", FullUrl);
        ShowClipboardCopyText = true;
    }

    private async Task NavigateToMeduza() => await _jsRuntime.InvokeAsync<object>("open", FullUrl, "_blank");
}