@using Common.Models
<ol>
    @foreach (var heading in Headings ?? new List<HeadingModel>())
    {
        <li style="margin-bottom: 5px">
            <HeadingComponent Title="@heading.Title" Url="@heading.Url"/>
        </li>
    }
</ol>

@code {
    [Parameter]
    public List<HeadingModel>? Headings { get; set; }
}