@inject HttpClient _httpClient
@inject Blazored.LocalStorage.ILocalStorageService _localStorage

<div>
    <div style="cursor: pointer; text-decoration: underline" @onclick="GetArticle">@Title</div>
    @if (ShowSpinner)
    {
        <div>
            <Spinner/>
        </div>
    }
    @if (ShowText && !string.IsNullOrEmpty(Text))
    {
        <div style="padding: 10px; color: #4f5050">
            <div style="white-space: pre-wrap">@Text</div>
            <div style="margin-top: 10px; text-transform: lowercase">
                <a href="@FullUrl" target="_blank">Ссылка на материал</a>
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public string? Url { get; set; }

    private string FullUrl => $"https://meduza.io/{Url}";

    private bool ShowText { get; set; }

    private bool ShowSpinner { get; set; }

    private async Task GetArticle()
    {
        if (Url is not null && string.IsNullOrEmpty(Text))
        {
            ShowSpinner = true;

            if (!string.IsNullOrEmpty(await _localStorage.GetItemAsStringAsync(Url)))
            {
                Text = await _localStorage.GetItemAsStringAsync(Url);
            }
            else
            {
                var articleResponse = await _httpClient
                    .GetStringAsync($"https://articles-river.herokuapp.com/Articles/{Url.Replace("/", "%2f")}");
                await _localStorage.SetItemAsStringAsync(Url, articleResponse);
                Text = articleResponse;
            }

            ShowSpinner = false;
        }

        ShowText = !ShowText;
    }

}