@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="top-row px-4">
            <a href="">Новости</a>
            <a href="/logs">Статистика</a>
            <a href="/search">Поиск</a>
        </nav>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
